.header {
  grid-area: header;
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background: black;
  color: white; }
  .header nav a {
    font-weight: 600;
    padding-right: 10px;
    color: red; }
  .header nav a:hover {
    color: rgba(6, 255, 39, 0.996); }

.footer {
  grid-area: footer;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .footer .redesfooter {
    display: flex;
    margin-top: 5px;
    justify-content: space-between; }
  .footer .titulofooter {
    display: flex;
    justify-content: flex-start; }
  .footer .copy {
    display: flex;
    margin: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: white; }

.container {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.0fr 0.0fr 0fr 0.0fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "hero hero hero" "main main aside" "footer footer footer"; }
  .container .hero {
    grid-area: hero;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; }
  .container .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container .titulonoti {
    color: white;
    margin: 15px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(90deg, #E65C00 0%, #F9D423 100%);
    padding: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container .titulosecnoticias {
    font-family: 'Oswald', sans-serif;
    font-size: 40px; }
  .container p {
    color: black;
    background-color: #F1E0E0;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 5px;
    border-radius: 10px; }
  .container .contenido img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container .tituloasideInicio {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    border-radius: 50px;
    margin: 5px; }
  .container .parrafoaside {
    background: linear-gradient(90deg, #FDFC47 0%, #24FE41 100%);
    border-radius: 15px;
    color: black;
    padding: 5px; }
  .container .titulocontacto {
    background: #EC0C0C;
    border-radius: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding: 10px;
    margin: 5px; }
  .container .formulario {
    text-align: center;
    background-color: #399ea0;
    padding: 40px;
    margin: auto;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 400px; }
  .container .formulario {
    width: 1000px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px; }
  .container .formulario h4 {
    font-size: 22px;
    margin-bottom: 20px; }
  .container .controls {
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px; }
  .container .formulario .boton {
    width: 100%;
    background-color: white;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0px;
    font-size: 16px; }
  .container .redessocia {
    display: flex;
    justify-content: center; }
  .container .redes {
    display: flex;
    justify-content: center; }
  .container .asideintereses {
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(90deg, #333333 0%, #DD1818 100%);
    border-radius: 50px; }
  .container .asideintereses__parrafo {
    color: white;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(90deg, #FF1E56 0%, #F9C942 50%, #1E90FF 100%);
    border-radius: 10px; }
  .container .Titular {
    font-family: 'Oswald', sans-serif;
    color: white;
    background: linear-gradient(90deg, #232526 0%, #414345 100%);
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 40px; }
  .container .Titular__modojuego {
    font-family: 'Oswald', sans-serif;
    color: white;
    background: linear-gradient(90deg, #E43A15 0%, #E65245 100%);
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
    font-size: 35px; }
  .container .modosdejuegolista ul li a {
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
  .container #Modoavance {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin: 2px; }
  .container #Modocontrol {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin: 2px; }
  .container #Modoescolta {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin: 2px; }
  .container #Modohibrido {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin: 2px; }
  .container #Modocapturalabandera {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin: 2px; }
  .container .guiatitulo {
    font-size: 25px;
    font-family: 'Oswald', sans-serif; }
  .container .rolesguia {
    display: flex;
    align-items: center; }
  .container .exproltank {
    font-family: 'Oswald', sans-serif;
    color: white;
    background: linear-gradient(90deg, #FEAC5E 0%, #C779D0 50%, #4BC0C8 100%);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-size: 30px; }
  .container .exroldps {
    font-family: 'Oswald', sans-serif;
    color: white;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-size: 30px; }
  .container .exrolsupport {
    font-family: 'Oswald', sans-serif;
    color: white;
    background: linear-gradient(90deg, #FC00FF 0%, #00DBDE 100%);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-size: 30px; }
  .container .imgrol {
    margin: 5px; }
  .container .imagencalery {
    width: 100%; }
  .container .contenedorgalery {
    display: flex;
    padding: 5px;
    flex-wrap: wrap; }
  .container .columnagalery {
    flex: 50%;
    padding: 5px;
    width: 25%; }

@media (max-width: 500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header" "hero" "main" "aside" "footer"; }
  .header {
    grid-area: header;
    flex-direction: column;
    background: black;
    color: white; }
  p {
    font-family: 'Roboto', sans-serif;
    background-color: #232526;
    color: white; }
  .titulonoti {
    font-size: 15px; }
  .Titular {
    font-family: 'Oswald', sans-serif;
    color: white;
    background: linear-gradient(90deg, #232526 0%, #414345 100%);
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 10px; }
  .titulocontacto {
    font-size: 15px; }
  .titulosecnoticias {
    font-size: 10px;
    color: #B02C2C; }
  img {
    width: 100%; }
  .redessocia {
    display: flex;
    justify-content: center; }
  .redes {
    display: flex;
    justify-content: center;
    width: 200px; }
  .rolesguia {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .imgrol {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 30%; } }
